In [25]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/mypc/OneDrive/Desktop/python data analytics/pandas2/titanic.csv")
df['Total Survived'] = np.where(df['Survived']==1,'Survived','Unsurvived')
# print((df['Total Survived']=='Survived').sum())
print(df.head())
print("give us the information about data")
print(df.info())
print("describe the data")
print(df.describe())
print("Give us the shape of the data")
# print(df.shape())
print("Give us the null values in each column")

print(df.isnull().sum())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked Total Survived
0      0         A/5 21171   7.2500   NaN        S     Unsurvived
1      0          PC 17599  71.2833   C85        C       Survived
2      0  STON/O2. 3101282   7.9250   NaN        S       Survived
3      0            113803  53.1000  C123        S       Survived
4      0            373450   8.0500   NaN        S     Unsurvived
give us the information about data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Name            891 non-null    object
 4   Sex             891 non-null    object
 5   Age             714 non-null    float64
 6   SibSp           891 non-null    int64
 7   Parch           891 non-null    int64
 8   Ticket          891 non-null    object
 9   Fare            891 non-null    float64
 10  Cabin           204 non-null    object
 11  Embarked        889 non-null    object
 12  Total Survived  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None
describe the data
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
Give us the shape of the data
Give us the null values in each column
PassengerId         0
Survived            0
Pclass              0
Name                0
Sex                 0
Age               177
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
Total Survived      0
dtype: int64

In [26]:

print("Fill null values in age column with mean")
df["Age"] = df["Age"].fillna (df['Age'].mean())
print(df["Age"])

Fill null values in age column with mean
0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [27]:

print("WE fill the values in Embarked by mode()")
df['Embarked'] = df["Embarked"].fillna(df["Embarked"].mode()[0]) #.mode take the most common port "S"
print(df["Embarked"])

WE fill the values in Embarked by mode()
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [28]:

print("Number of missing data in cabin is high")
df["Cabin"] = df['Cabin'].fillna('Unknown')
print(df["Cabin"])

Number of missing data in cabin is high
0      Unknown
1          C85
2      Unknown
3         C123
4      Unknown
        ...
886    Unknown
887        B42
888    Unknown
889       C148
890    Unknown
Name: Cabin, Length: 891, dtype: object

In [29]:


print("Double check what the table situation is there any null values remaining")
print(df.isnull().sum())

Double check what the table situation is there any null values remaining
PassengerId       0
Survived          0
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin             0
Embarked          0
Total Survived    0
dtype: int64

In [30]:
print("Count the passengers")
print(df['Survived'].value_counts())

survival_rate = (df["Survived"]==1).sum()
print("Survived in titanic:",survival_rate)


died_rate = (df['Survived']==0).sum()
print("Died in titanic:",died_rate)


print("Passenger class distribution")
print(df['Pclass'].value_counts())

print("Passenger by gender")
print(df["Sex"].value_counts())

Count the passengers
Survived
0    549
1    342
Name: count, dtype: int64
Survived in titanic: 342
Died in titanic: 549
Passenger class distribution
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Passenger by gender
Sex
male      577
female    314
Name: count, dtype: int64

In [31]:
print("Survival Rate by gender")
survival_rate_gender = df.groupby("Sex")['Survived'].mean()
print(survival_rate_gender)

print("Survival Rate by class")
survival_class = df.groupby("Pclass")['Survived'].mean()
print(survival_class)

print("Survival Rate Class + Gender")
class_Gender = df.groupby(['Pclass','Sex'])['Survived'].mean()
print("Survival rate of class and gender",class_Gender)

Survival Rate by gender
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Survival Rate by class
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Survival Rate Class + Gender
Survival rate of class and gender Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [ ]:
# Drop the duplicate name
df = df.drop_duplicates('Name')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare    Cabin Embarked Total Survived
0        1      0         A/5 21171   7.2500  Unknown        S     Unsurvived
1        1      0          PC 17599  71.2833      C85        C       Survived
2        0      0  STON/O2. 3101282   7.9250  Unknown        S       Survived
3        1      0            113803  53.1000     C123        S       Survived
4        0      0            373450   8.0500  Unknown        S     Unsurvived
..     ...    ...               ...      ...      ...      ...            ...
886      0      0            211536  13.0000  Unknown        S     Unsurvived
887      0      0            112053  30.0000      B42        S       Survived
888      1      2        W./C. 6607  23.4500  Unknown        S     Unsurvived
889      0      0            111369  30.0000     C148        C       Survived
890      0      0            370376   7.7500  Unknown        Q     Unsurvived

[891 rows x 13 columns]

In [33]:

print("Survival and non Survival Rate of Passenger")
total = len(df)
survived = df['Survived'].sum()
survivalrate = survived/total *(100)
unsurvived = 100 - survivalrate

print("Survival rate:",survivalrate)
print("Unsurvival rate:",unsurvived)

Survival and non Survival Rate of Passenger
Survival rate: 38.38383838383838
Unsurvival rate: 61.61616161616162

In [34]:
survival = df['Survived'].mean()*100
print("Survival rate",survival)

Survival rate 38.38383838383838

In [35]:
df.to_csv("Titanic.csv",index=False)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare    Cabin Embarked Total Survived
0        1      0         A/5 21171   7.2500  Unknown        S     Unsurvived
1        1      0          PC 17599  71.2833      C85        C       Survived
2        0      0  STON/O2. 3101282   7.9250  Unknown        S       Survived
3        1      0            113803  53.1000     C123        S       Survived
4        0      0            373450   8.0500  Unknown        S     Unsurvived
..     ...    ...               ...      ...      ...      ...            ...
886      0      0            211536  13.0000  Unknown        S     Unsurvived
887      0      0            112053  30.0000      B42        S       Survived
888      1      2        W./C. 6607  23.4500  Unknown        S     Unsurvived
889      0      0            111369  30.0000     C148        C       Survived
890      0      0            370376   7.7500  Unknown        Q     Unsurvived

[891 rows x 13 columns]